p {
  position: absolute;
  width: 20%;
  height: 5%;
  top: 75%;
  left: 40%;
  text-align: center;
}

.play_btn {
  position: absolute;
  width: 10%;
  height: 10%;
  top: 75%;
  left: 65%;
}

.pause_btn {
  position: absolute;
  width: 10%;
  height: 10%;
  top: 75%;
  left: 76%;
}

.video_1 {
  position: absolute;
  width: 99%;
  height: 70%;
  margin: 0 auto;
}
